/GCDContacts/WorkspaceSettings.xcsettings
/GCDContacts/UserInterfaceState.xcuserstate
/GCDContacts/Breakpoints_v2.xcbkptlist
/GCDContacts/xcschememanagement.plist
/GCDContacts/GCDContacts.xcodeproj/xcuserdata/

/NSOperationContacts/WorkspaceSettings.xcsettings
/NSOperationContacts/UserInterfaceState.xcuserstate
/NSOperationContacts/Breakpoints_v2.xcbkptlist
/NSOperationContacts/xcschememanagement.plist
/NSOperationContacts/NSOperationContacts.xcodeproj/xcuserdata/

/SwiftConcurrencyContacts/WorkspaceSettings.xcsettings
/SwiftConcurrencyContacts/UserInterfaceState.xcuserstate
/SwiftConcurrencyContacts/Breakpoints_v2.xcbkptlist
/SwiftConcurrencyContacts/xcschememanagement.plist
/SwiftConcurrencyContacts/SwiftConcurrencyContacts.xcodeproj/xcuserdata/
