/GCDContacts/WorkspaceSettings.xcsettings
/GCDContacts/UserInterfaceState.xcuserstate
/GCDContacts/Breakpoints_v2.xcbkptlist
/GCDContacts/xcschememanagement.plist
/GCDContacts/GCDContacts.xcodeproj/xcuserdata/